<h1> 管理者ページ </h1>

<h2> 一覧 </h2>
<p><div class="list">
<table border>
  <tr>
    <th>key</th>
    <th>res</th>
    <th>del?</th>
  </tr>
  <% @list.each do |item| %>
  <tr>
    <td> <%= item[0] %> </td>  
    <td> <%= item[1] %> </td>
    <td> 
      <form action="delete" method="post">
        <input type="hidden" name="key" value="<%= item[0] %>">
        <input type="submit" value="del">
      </form>
    </td>
  </tr>  
  <% end %>
</table>
</div></p>

<h2> 追加 </h2>
<p><div class="form">
<form action="create" method="POST">
  key:<input type="text" name="key" value=""><br>
  res:<textarea name="res" rows="3"></textarea>
  <input type="submit" value="確定">
</form>
</div></p>
